.postArea{
  width: 70vw;
  height: fit-content;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-left: 8%;
  margin-right: 10%;
  background-color: #abbcd6;
}

.postArea input:focus{
 background-color: white;
 color: black;
}

.postArea button{
    width: 30%;
    margin-left: 70%;
    align-items: center;
}

.postArea button:hover{
    background-color: darkgreen;
}